<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kids_learning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KIDSLEARNING">
        <activity
            android:name=".mainquizz"
            android:exported="false" />
        <activity
            android:name=".quiz"
            android:exported="false" />
        <activity
            android:name=".matter"
            android:exported="false" />
        <activity
            android:name=".body"
            android:exported="false" />
        <activity
            android:name=".animals"
            android:exported="false" />
        <activity
            android:name=".science"
            android:exported="false" />
        <activity
            android:name=".minus"
            android:exported="false" />
        <activity
            android:name=".addition"
            android:exported="false" />
        <activity
            android:name=".shape"
            android:exported="false" />
        <activity
            android:name=".numbers"
            android:exported="false" />
        <activity
            android:name=".math"
            android:exported="false" />
        <activity
            android:name=".choices"
            android:exported="false" />
        <activity
            android:name=".mainapps"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>